@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

* {
    box-sizing: border-box;
  }

body {
    background-image: url('/src/start-menu-imgs/start-menu-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    background-attachment: fixed;
}

#game-loop{
    display: none;
}

/* game menu ================================================================================ */

.game-menu {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 600px;
    margin-top: 40px;
    margin-right: 50px;
    /* margin-left: 660px;
    margin-top: 300px; */
}

#game-title {
    position: relative;
    left: 20px;             
    top: 35px;            
    color: white;
    transform: rotate(-15deg);
    font-size: 3em;
    font-family: "Mountains of Christmas", serif;
    text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700;
    margin-bottom: 10px;
    pointer-events: none;
}

/* menu buttons ================================================================================ */

.menu-buttons {
    width: 600px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.buttons {
    height: 50px;
    width: 200px;
    border-radius: 25px;
    margin-left: 10px;
    border: 5px solid gold;
    box-shadow: 0 2px gold;
    font-family: "Mountains of Christmas", serif;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.buttons:active {
  box-shadow: 0 5px #70615f ;
  transform: translateY(3px);
}

#start-button {
    color: white;
    background-color: #f14b59;

}

#how-to-play-button {
    color: black;
    background-color:#5a8b6a;
}

#set-timer {
    color: white;
    background-color: #F5624D;

}

#quit-game {
    color: white;
    background-color: #235E6F;
}

/* audio buttons ================================================================================ */

.audio-control {
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 200px;

}

#audio-on-button {
    height: 60px;
    width: 60px;
    font-size: 1em;
    color: white;
    border: 3px solid gold;
    background-color:#5a8b6a;


}

#audio-off-button {
    height: 60px;
    width: 60px;
    font-size: 1em;
    color: white;
    border: 3px solid gold;
    background-color: #f14b59;
}

/* cookie grid/main grid container ================================================================================ */

.grid-container{
    display: inline-grid;
    width: 20%;
    height: 300px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 226px;
    margin-left: 800px;
    background-image: url('/src/cookie-image/cookie-img.png');
}

.grid-items {
    margin: 0;
    border: 1px solid black;
    font: 1em; 
}

#quadrant-1 {
    padding-left:5px;
    font-size: 1.5em;
    background-size: cover;
}

#quadrant-2 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 1.5em;

}

#quadrant-3 {
    padding-left:5px;
    font-size: 1.5em;
}

#quadrant-4  {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 1.5em;
}

/* scoreboard  ================================================================================ */

/* I am attempting to make the base shape of my counter */

.score-board {
    background-image: url('/src/score-board/score-board-img.png');
    height: 300px;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 1300px;
    font-family: "Mountains of Christmas", serif;
    /* margin-left: 300px;
    margin-bottom: 400px; */
}


#score-board-title {
    margin-top: 40px;
    margin-left: 60px;
    font-size: 1.5em;
    color: brown;
}

/*total clicks container and children divs  ================================================================================ */

.total-clicks-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 40px;
}

#total-clicks-text {
    /* padding-top: 30px; */
    /* padding-left: 20px; */
    font-size: 1.5em;
    color: black;
    margin-left: 20px;
    padding-left: 10px;
}

#total-clicks-count {
    background-color: #34A65F;
    width: 50px;
    height: 60px;
    font-size: 3em;
    margin-right: 30px;
    padding-left: 5px;
    color:white 
}

/*total cookies container and children ================================================================================ */

.total-cookies-container {
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}

#total-cookies-text {
    font-size: 1.3em;
    color: black;
    margin-left: 20px;
}

#total-cookies-count {
    background-color: #34A65F;
    width: 50px;
    height: 60px;
    font-size: 3em;
    margin-right: 30px;
    padding-left: 10px;
    color:white 
}

/* gif container  ================================================================================ */

#gif-container {
    display: none;
    background-color: white;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 150px;
    left: 280px;
    background-image: url('https://media1.tenor.com/m/IY0FiSVJRKIAAAAd/seriously-disbelief.gif');
    background-size: cover;
}

/* media queries  ================================================================================ */

@media (max-width: 768px) {
    body {
        background-image: url('/src/start-menu-imgs/background-image-project-smaller-viewport.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .grid-container{
        display: inline-grid;
        width: 20%;
        height: 300px;
        /* grid-template-columns: 200px 200px 200px; */
        grid-template-columns: repeat(2, 1fr);
        margin-top: 268px;
        margin-left: 800px;
        background-image: url('/src/start-menu-imgs/background-image-project-smaller-viewport.jpg');
    }
    
    
    main {
        width: 100vw;             
        max-width: 100%;           
        padding: 0;              
        display: flex;             
        flex-direction: column;    
        align-items: center;       
    }

    section {
        width: 100px;
        height: 200px;
    }

    .game-menu {
        margin-left: 0px;
        margin-top: 0x;
    }
 
    .menu-buttons {
        width: 100%;               
        /* max-width: 300px;*/
        margin: 20px auto;        
        display: flex;
        flex-direction: column;   
        align-items: center;       
    }

    #game-title {
        color: white;
        font-size: 1.5em;
        font-family: "Mountains of Christmas", serif;
        text-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700;
        margin-bottom: 30px;
    }

    .buttons {
        width: 140%;              
        margin-left: 30px;           
        font-size: 1.5em;
        border: 3px solid gold;            
    }
    
    #audio-on-button, #audio-off-button{
        border: 3px solid gold;
        
    }

}

@media (min-width: 1024px) and (max-width: 1100px) {

    
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    
    .game-menu {
        margin-right: 300px;
        margin-top: 700px;
    }

    main {                          
        display: flex;             
        flex-direction: column;    
        align-items: center;       
    }

    .menu-buttons {                      
        display: flex;
        flex-direction: column;   
        margin-left: 50px;
           
    }

    .buttons {        
        height: 100px;
        width: 400px;
        margin-bottom: 30px;      
        font-size: 3em;            
    }

    .audio-control {   
        margin-right: 10px;
        width: 400px;
    }
    
    
    #audio-on-button{
        height: 100px;
        width: 100px;
        font-size: 2em;
    
    }
    
    #audio-off-button {
        height: 100px;
        width: 100px;
        font-size: 2em;
    }
}


